.hero {
  position: relative;
  background: #fff;
  color: #000;
  text-align: center;
  margin-bottom: 50px;
}

.heroImage {
  height: 31.8vh;
  max-height: 400px;
  max-width:350px;
  background:#fff;
}

.heroDetails {
  position: relative;
  font-family: 'Roboto', sans-serif;
  /* background: rgba(0, 0, 0, 0.7); */
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  padding: 0 0.5em;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 16px;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    margin: 30px 30px 30px -40px;
    font-size: 16px;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: 1.125em;
}
